/* Estilo da página HTML */
body{
    background-color: lightgray;
}
.center {
    text-align: center;
}
.container {
    display: flex;
    flex-flow: row ;
    justify-content: center;
}
.container2 {
    display: flex;
    flex-flow: row;
    justify-content:center ;
    align-items: center;
}
#menu li {
    display: inline;
    padding: 15px;
    text-decoration: none;
}
#menu li a {
    text-decoration: none; 
    color: black;
    font-size: 20px;
}
#menu li a:hover {
    color: grey;
}
.justify{
    text-align: justify;
}
.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 20%;
   
}
.wh-300 {
    width: 300px;
    height: 300px;
    
}
.display {
    display: flex;
    align-items: center;
    justify-content: center
}
.tm-social{
    width: 50px;
    height: 50px;
}
.mg-50 {
    margin-bottom: 50px;
}
/*Estilo da página contato.html */
.ml-50{
    margin-left: 50px;
}